# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.egg
dist/
build/
*.so

# Virtual environments
.venv/
venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Testing / Coverage
.pytest_cache/
.coverage
htmlcov/
.tox/

# MkDocs build output
site/

# Logs
log
*.log
workflows/*/slurm*
workflows/*/*telemetry*
workflows/*/*experiment*
workflows/plots

# OS
.DS_Store
Thumbs.db
